.container {
	display: flex;
	background-color: red;
	width: 400px;
	height: 100px;
  align-items: center;	
  justify-content: center;
  color: white;
}

.pum {
	display: none;
}

.verde {
	background-color: green;
}