.azul{
	color: blue;
	margin-left: 35px;
}

.gris{
	color: grey;
}

h1{
	font-family: lato;
	font-size: 32px;
	margin-left: 35px;
}

p{
	font-family: lato;
}

div{
	border: 10px solid red;
	width: 900px;
	height: 30px;
	background-color: pink;
	text-align: center;
	padding: 10px;
	margin: 10px; 
}

