body {
	font-family: 'Lobster', cursive;
}


.main-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.product-section {
	width: 850px;
	height: 915px;
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 265px;
  height: 290px;
  background-color: pink;
  display: flex;
  margin: 5px;  	
}

.shoppingCart-section {
	width: 300px;
	height: 750px;
	background-color: pink;
}