.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 500px;
  height: auto;
  background-color: grey;
}

.nav {
	width: 300px;
	height: 50px;
}

.nav-container {	
  margin: 10px 5px;
}

.boton {
	width: 91px;
  height: 56px;
}

.box {
	width: 400px;
	height: 100px;
	background-color: white;
	margin: 5px 5px;
}