.elementos{
	width: 700px;
	height: 400px;
	text-align: center;
	margin: 0px;
	background-color:blue;

}
#avatar{
	width: 150px;
	height: 150px;
	background-color: black;
}
.bio{
	width: 700px;
	height: 200px;
	background-color: pink;
	text-align: center;
}
.datos{
	text-align: center;
	width: 700px;
	height: 100px;
	background-color: grey;
}
.followers{
	text-align: center;
	width: 700px;
	height: 100px;
	background-color: blue;
}
.repos{
	text-align: center;
	width: 700px;
	height: 100px;
	background-color: red;
}