body {
	display: flex;
	justify-content: center;
	align-content: center;
}

.main-container {
	width: 700px;
	height: auto;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.container {
	width: 500px;
	height: 200px;
	background-color: grey;
  margin: 10px;
}